<%= form_with model: post do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <%= form.label :title, class: "form-label" %>
  <%= form.text_field :title, class: "form-control", placeholder: "title" %>
  <% post.errors.full_messages_for(:title).each do |message| %>
    <div><%= message %></div>
  <% end %>

  <%= form.label :description, class: "form-label" %>
  <%= form.text_area :description, class: "form-control", placeholder: "description" %>

  <%= form.submit %>
<% end %>