<%= turbo_frame_tag post do %>
  <div class="m-5 card" style="width: 18rem;">
    <div class="card-body">
      <p class="badge bg-primary text-wrap card-title"><%= post.title %></</p>
      <p class="card-text"><%= post.description %></p>
      <%= link_to "edit", edit_post_path(post), class: "btn btn-success" %>
      <%= button_to "destroy", post_path(post), method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>
